@font-face {
  font-family: "Neue Montreal Mono";
  src: url("../fonts/PPNeueMontrealMono-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("../fonts/PPNeueMontrealMono-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("../fonts/PPNeueMontrealMono-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("../fonts/PPNeueMontrealMono-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("../fonts/PPNeueMontrealMono-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal Mono";
  src: url("../fonts/PPNeueMontrealMono-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
